@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 1.6em;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
}

#mainBox,
#modal {
    max-width: 400px;
    max-height: 500px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    padding: 30px;
}

.starBox,
.ratingButton {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: hsl(213, 19%, 23%);
    color: hsl(217, 12%, 63%);
    border: none;
    margin-top: 10px;
}

#submitButton {
    margin-top: 25px;
    background-color: hsl(25, 97%, 53%);
    display: block;
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 3px;
}

#submitButton:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.ratingButton:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}

.ratingButton.active {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
    outline: none;
}

.starBox img {
    padding-left: 2px;
}

#modal {
    display: none;
}

#modal.show {
    display: block;

}

#mainBox.hidden {
    display: none;
}